* {
  background-color: black;
  color: white;
}

.rounded-button {
  border-radius: 50% !important; /* Hace que los botones sean perfectamente redondos */
  border-color: aliceblue !important;
  border-width: 5px !important;
  width: 220px !important; /* Tamaño del botón, puedes ajustar este valor */
  height: 220px !important; /* Asegura que el alto y el ancho sean iguales */
  padding: 0; /* Elimina el padding interno */
  font-size: 32px !important; /* Ajusta el tamaño de la fuente */
  font-weight: bold !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra el texto */
}
